@font-face {
  font-family: 'Bubbleboddy';
  src: url('/assets/fonts/font-awesome/fonts/bubbleboddy/Bubbleboddy-ExtraLightTrial.ttf'),
  url('/assets/fonts/font-awesome/fonts/bubbleboddy/Bubbleboddy-ExtraLightTrial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bubbleboddy';
  src: url('/assets/fonts/font-awesome/fonts/bubbleboddy/Bubbleboddy-FatTrial.ttf'),
  url('/assets/fonts/font-awesome/fonts/bubbleboddy/Bubbleboddy-FatTrial.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}