.lien{

  &-image{

    color: black;
  }
}

.mdp{
  
  &-oublie{

    color: #000;
    font-size: 0.9rem;
    width: 90%;
    float: right;
    text-align: right;
  }
}
a:hover{

  text-decoration: none;
  text-underline: none;
}
